@charset "utf-8";

@font-face {
    font-family: "hm";
    src: url("https://cdn.jsdelivr.net/gh/xiaoyanu/file-test@2022.9.21/more/HarmonyOS_Sans_SC_Medium.subset.woff2") format("truetype");
    /* 兼容Safari */
}

@keyframes fade-small-large {
    from {
        opacity: 0;
        transform: scale(.5, .5)
    }

    to {
        opacity: 1;
        transform: scale(1, 1)
    }
}

@-webkit-keyframes fade-small-large {
    from {
        opacity: 0;
        transform: scale(.5, .5)
    }

    to {
        opacity: 1;
        transform: scale(1, 1)
    }
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

/* 美化滚动条 */
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(236, 240, 243, 1);
    border-radius: 0;
    background: rgba(236, 240, 243, 1);
}

* {
    font-family: "hm";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #61677C;
}

body {
    background-color: #ecf0f3;
}

/* 顶部标题栏 */
#head {
    position: relative;
    height: 64px;
    line-height: 64px;
    color: #61677C;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #d1d9e6;
    background-color: #ecf0f3;
    text-shadow: 1px 1px 0 #FFF;
    user-select: none;
}

#head span {
    font-weight: 800;
}

#head #logo {
    vertical-align: middle;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: -10px;
}

#head img {
    display: inline-block;
}

#head #title {
    font-size: 24px;
}

#head #tj {
    vertical-align: middle;
    height: 60px;
    margin-top: -10px;
    margin-left: 50px;
}

#head-right {
    height: 64px;
    width: 150px;
    float: right;
}

#head #wt {
    display: inline-block;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6;
    transition: all 0.2s ease-in-out;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
}

#head #wt:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d1d9e6;
}

#head #wt:active {
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #FFF;
}

/* banner图 */
#banner {
    user-select: none;
    height: 400px;
    background-image: url(https://img.tucang.cc/api/image/show/e02c95556faf96dd6c0666832c3cd115);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#banner h1 {
    line-height: 400px;
    color: #FFF;
    text-align: center;
    text-shadow: rgb(0 0 0 / 50%) 0 3px 5px;
}

/* 主要部分 */
#main {
    background-color: #ecf0f3;
}

#center {
    width: 1080px;
    margin: 15px auto;
    color: #61677C;
    font-size: 18px;
    border-radius: 15px;
    background-color: #ecf0f3;
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #FFF;
    padding: 15px;
}

#center h2 {
    padding-bottom: 10px;
    border-bottom: solid 1px #d1d9e6;
}

#center .url,
.qq,
.gs {
    line-height: 28px;
}

#center p span {
    border-bottom: solid 1px #000;
}

.link {
    border-bottom: solid 1px #000;
}

.url {
    margin-top: 10px;
}

.url button {
    height: 32px;
    width: 32px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6;
    transition: all 0.2s ease-in-out;
}

.url button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d1d9e6;
}

.url button:active {
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #FFF;
}

.url button svg {
    margin: 0 auto;
    display: block;
}

.gs {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d1d9e6;
}

table {
    border-radius: 8px;
    border: solid 1px #d1d9e6;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border-spacing: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

.name,
.type.sfbt.ms {
    padding-top: 3px;
    padding-bottom: 3px;
}

.name {
    width: 20%;
    border-right: solid .5px #d1d9e6;
    border-top: solid .5px #d1d9e6;
}

#name1,
#sfbt1,
#type1,
#ms1 {
    border-top: none;
}

.sfbt {
    width: 5%;
    border-right: solid .5px #d1d9e6;
    border-top: solid .5px #d1d9e6;
}

.type {
    width: 20%;
    border-right: solid .5px #d1d9e6;
    border-top: solid .5px #d1d9e6;
}

.ms {
    width: 55%;
    word-break: break-all;
    border-top: solid .5px #d1d9e6;
}

.cs-main {
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #d1d9e6;
    width: auto;
}

#cs {
    font-size: 20px;
    border-left: solid 5px #61677C;
    margin-bottom: 5px;
}

/* 底部版权声名 */
#footer {
    user-select: none;
    margin-top: 15px;
    background-color: #ecf0f3;
    border-top: solid 1px #d1d9e6;
    width: auto;
}

#footer p {
    margin-top: 20px;
    padding-bottom: 20px;
    color: #61677C;
    text-align: center;
}

/* 返回 */
#xf {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 50px;
}

#xf a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

#xf a:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d1d9e6;
}

#xf a:active {
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #FFF;
}

#xf a svg {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 28px;
    height: 28px;
}

/* - 漂浮提示 */
[ks-tag] {
    position: relative
}

[ks-tag]:before,
[ks-tag]:after {
    position: absolute;
    pointer-events: none;
}

/* -- 小箭头 */
[ks-tag]:before {
    width: 0;
    height: 0;
    opacity: 0;
    content: '';
    position: absolute;
    transition: opacity .3s;
    border: .5rem solid transparent;
}

[ks-tag~=top]:before {
    bottom: 100%;
    border-top-color: rgba(0, 0, 0, .7);
}

[ks-tag~=bottom]:before {
    top: 100%;
    border-bottom-color: rgba(0, 0, 0, .7);
}

[ks-tag~=top]:before,
[ks-tag~=bottom]:before {
    left: 50%;
    transform: translateX(-50%);
}

[ks-tag=left]:before {
    right: 100%;
    border-left-color: rgba(0, 0, 0, .7);
}

[ks-tag=right]:before {
    left: 100%;
    border-right-color: rgba(0, 0, 0, .7);
}

[ks-tag=left]:before,
[ks-tag=right]:before {
    top: 50%;
    transform: translateY(-50%);
}

/* -- 文字 */
[ks-tag~=top]:after {
    bottom: 100%;
    margin-bottom: 1rem;
}

[ks-tag~=bottom]:after {
    top: 100%;
    margin-top: 1rem;
}

[ks-tag=top]:after,
[ks-tag=bottom]:after {
    left: 50%;
    transform: translateX(-50%);
}

[ks-tag=left]:after {
    right: 100%;
    margin-right: 1rem;
}

[ks-tag=right]:after {
    left: 100%;
    margin-left: 1rem;
}

[ks-tag=left]:after,
[ks-tag=right]:after {
    top: 50%;
    transform: translateY(-50%);
}

/* -- 组合对齐方式 */
[ks-tag~=left][ks-tag~=top]:after,
[ks-tag~=left][ks-tag~=bottom]:after {
    right: 0;
    min-width: 4em;
}

[ks-tag~=right][ks-tag~=top]:after,
[ks-tag~=right][ks-tag~=bottom]:after {
    left: 0;
    min-width: 4em;
}

[ks-text]:hover:before,
[ks-text]:hover:after {
    opacity: 1
}

[ks-text]:after {
    opacity: 0;
    z-index: 1;
    color: #fff;
    font-size: .85rem;
    white-space: nowrap;
    border-radius: .5rem;
    padding: .25rem .5rem;
    content: attr(ks-text);
    transition: opacity .3s;
    background: rgba(0, 0, 0, .7);
}

/* 弹窗 */
notice {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1em;
    position: fixed;
    user-select: none;
    pointer-events: none
}

.ks-notice {
    color: #fff;
    display: table;
    background: #5ad25e;
    border-radius: 3em;
    pointer-events: auto;
    margin: 0 auto 1em auto;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
    animation: fade-small-large .3s both;
    -webkit-animation: fade-small-large .3s both
}

.ks-notice.remove {
    animation: fade-in-top .3s both reverse;
    -webkit-animation: fade-in-top .3s both reverse
}

.ks-notice>span {
    padding: .5em 1em;
    display: table-cell;
    vertical-align: middle
}

.ks-notice .close {
    cursor: pointer;
    border-radius: 0 1em 1em 0;
    transition: background .3s
}

.ks-notice .close:hover {
    background: rgba(0, 0, 0, .1)
}

.ks-notice .close:after {
    content: '×';
    font: inherit
}

/* 适配手机 */
@media only screen and (max-width: 639px) {
    #banner {
        height: 150px;
    }

    #head #logo {
        display: none;
    }

    #banner h1 {
        line-height: 150px;
    }

    #head #title {
        display: none;
    }

    #head #tj {
        height: 40px;
    }

    #center {
        width: 85%;
    }

    .name,
    .sfbt,
    .type,
    .ms {
        padding-left: 2px;
        padding-right: 2px;
    }

    .name {
        width: 20%;
    }

    .sfbt {
        width: 5%;
    }

    .type {
        width: 15%;
    }

    .ms {
        width: 60%;
    }
}
