@font-face {
    font-family: "hm";
    src: url("https://npm.elemecdn.com/velor2012_handsome_asset@9.0.2-1.1/HarmonyOS_Sans_SC_Medium.subset.woff2") format("truetype");
    /* 兼容Safari */
}

/* 美化滚动条 */
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(236, 240, 243, 1);
    border-radius: 0;
    background: rgba(236, 240, 243, 1);
}

* {
    font-family: "hm";
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #61677C;
}

body {
    background-color: #ecf0f3;
}

/* banner图 */
#banner {
    height: 400px;
    background-image: url(../images/Top_Picture.gif);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#banner h1 {
    line-height: 400px;
    color: #FFF;
    text-align: center;
    text-shadow: rgb(0 0 0 / 50%) 0 3px 5px;
}

/* 主要部分 */
#main {
    background-color: #ecf0f3;
}

#center {
    width: 1080px;
    margin: 0 auto;
    color: #61677C;
}

.apibox {
    display: inline-block;
    margin: 15px;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6;
    transition: all 0.2s ease-in-out;
    width: 325px;
    height: 160px;
    font-weight: 600;
}

.apibox:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d1d9e6;
}

.zt {
    color: #FFF;
    padding: 4px;
    text-align: center;
    border-radius: 6px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    right: 20px;
    top: 20px;
}

.title {
    width: 285px;
    height: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    word-break: break-all;
    overflow: hidden;
}

.text {
    width: 285px;
    height: 74px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    word-break: break-all;
}

.url {
    border: 0;
    outline: 0;
    float: right;
    position: relative;
    bottom: 36px;
    right: 20px;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6;
    transition: all 0.2s ease-in-out;
    height: 38px;
    line-height: 38px;
    width: 80px;
    text-align: center;
}

.url:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d1d9e6;
}

.url:active {
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #FFF;
}

/* 适配手机 */
@media only screen and (max-width: 639px) {
    #banner {
        height: 150px;
    }
    #banner h1 {
        line-height: 150px;
    }

    #center {
        width: 85%;
    }

    .apibox {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .url {
        bottom: 32px;
    }

    .text {
        margin: 0;
        margin-top: 10px;
        margin-left: 20px;
        width: 88%;
    }
}