@charset "UTF-8";
@import "tailwindcss";

@font-face {
    font-family: "HarmonyOS_Sans_SC_Medium";
    /*
        提供以下CDN加速地址，均为国内CDN，当然你也可以选择本地字体文件
        字体文件大小：580 KB，如果你不在意大小，直接使用本地字体文件即可
    */
    /*src: url(https://npm.elemecdn.com/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://cdn.jsdmirror.cn/npm/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://s4.zstatic.net/npm/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://cdn.jsdelivr.net/npm/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://npm.webcache.cn/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://npm.onmicrosoft.cn/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://cdn.bili33.top/npm/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    src: url(@/assets/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");
    font-display: swap;
}

* {
    font-family: HarmonyOS_Sans_SC_Medium,
    Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #909399;
}