@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family:
            Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
            '微软雅黑', Arial, sans-serif;
}
body {
    background-color: #ecf0f3;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #909399;
}

/* 输入框前置/后置背景颜色白色 */
.input-bgcolor-is-while .el-input-group__prepend,
.input-bgcolor-is-while .el-input-group__append {
    background-color: var(--el-fill-color-blank);
}
.input-bgcolor-is-while .el-input-group__prepend:hover,
.input-bgcolor-is-while .el-input-group__append:hover {
    background-color: rgba(195, 195, 195, 0.1);
}