@charset "UTF-8";
@import "tailwindcss";

@font-face {
    font-family: "hm";
    /*src: url(https://npm.elemecdn.com/velor2012_handsome_asset@9.0.2-1.1/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    /*src: url(https://npm.elemecdn.com/helloapi_assets@0.0.1/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");*/
    src: url(@/assets/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2) format("truetype");
}

* {
    font-family: hm,
    Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #909399;
}